[submodule "frontend"]
	path = frontend
	url = https://github.com/kafleprakash96/fullstack-ecommerce-angular.git
[submodule "backend"]
	path = backend
	url = https://github.com/kafleprakash96/fullstack-ecommerce-springboot.git
